<div>
    <div class="row">
        <h6 class="col-8">Tanmay Singal</h6>
        <small class="text-right">3:25 PM</small>
    </div>
    <span class="d-inline-block text-truncate" style="width: 100%;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis blandit nulla at consectetur. Morbi interdum
        euismod diam, non pulvinar arcu ultrices a. Nullam accumsan efficitur massa vitae egestas. Sed risus purus, molestie eu
        semper eget, gravida eget metus. Morbi eget sodales massa. Nam non porta felis. Proin sit amet elementum leo. Sed ut
        maximus risus. Morbi imperdiet bibendum nibh. Maecenas tempor ex nec imperdiet vestibulum. Ut mi metus, fermentum sit
        amet finibus vitae, tincidunt ac dui. Vestibulum malesuada libero nisl, cursus placerat enim bibendum nec. Mauris ac
        enim felis.
    </span>
    
</div>