<div class="talk-bubble tri-right round btm-left">
    <div class="talktext">
      <p>And now using .round we can smooth the sides down. Also uses .btm-left to show a triangle at the bottom flush to the left.</p>
</div>