<%- include("partials/header") %>

<div class="chats-container container">
    <div class="chats-row row">
        <div class="chats-sidebar col-4 d-flex">
            <p>This is the sidebar</p>
        </div>

        <div class="chats-messages col-8 d-flex">
            <p>These are the messages</p>
        </div>
    </div>
</div>

<%- include("partials/footer") %>