:root {
  --background-color: #ccf2f4;
  --surface-color: #f4f9f9;
  --dark-color: #31326f;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
}

.registration-form {
  padding: 50px 0;
}

.registration-form form {
  background-color: var(--surface-color);
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
  text-align: center;
  background-color: #31326f;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto auto 50px;
  line-height: 100px;
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form-sign-up {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
  opacity: 90%;
  color: var(--dark-color);
}

.create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--dark-color);
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form {
  max-width: 600px;
  background-color: var(--surface-color);
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #525763;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.social-icons {
  margin-top: 30px;
  margin-bottom: 16px;
}

.social-icons a {
  font-size: 23px;
  margin: 0 3px;
  color: var(--dark-color);
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: var(--surface-color);
  line-height: 45px;
}

.social-icons a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.registration-social-sign-up {
  margin-top: 32px;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

.chats-container,
.chats-row {
  height: 100%;
}

.chats-container{
  margin: 0;
}

.chats-sidebar {
  background-color: var(--surface-color);
  padding: 0%;
}

.chats-sidebar-listgroup {
  width: 100%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}
